.home-hero-section {
  @apply section
  min-h-screen
  grid
  items-center
  justify-center
  relative;
}

.home-hero-bg-overlay {
  @apply absolute
  inset-0 
  bg-neutral-950 
  opacity-25;
}

.home-hero-content {
  @apply section-content
  grid
  grid-cols-1
  lg:grid-cols-2
  translate-y-14;
}

.text-content {
  @apply bg-neutral-950/85
  text-neutral-50
  rounded-3xl
  lg:rounded-tr-none
  lg:rounded-br-none
  shadow-md
  backdrop-blur
  p-5
  sm:p-6
  md:p-8
  lg:p-10
  xl:p-12
  2xl:p-14
  flex
  flex-col
  items-center
  justify-center
  lg:items-start;
}

.home-hero-headline {
  @apply text-4xl
  lg:text-5xl
  2xl:text-6xl
  font-medium
  text-center
  lg:text-start
  mb-3;
}

.home-hero-desc {
  @apply text-lg
  2xl:text-xl
  font-light
  text-center
  lg:text-start
  mb-6;
}

.image-content {
  @apply hidden
  lg:block
  rounded-tr-3xl
  rounded-br-3xl
  overflow-hidden;
}

.image-content-img {
  @apply w-full
  h-full;
}
