.application-process-section {
  @apply px-6
  sm:px-8
  md:px-10
  lg:px-12
  xl:px-14
  2xl:px-16
  py-10
  sm:py-12
  md:py-14
  lg:py-16
  xl:py-20
  2xl:py-24
  bg-gradient-to-br from-neutral-300 to-neutral-100
  text-center;
}

.application-process-title {
  @apply mb-6
  sm:mb-8
  md:mb-10
  lg:mb-12
  xl:mb-14
  2xl:mb-16
  text-lg
  sm:text-xl
  md:text-2xl
  lg:text-3xl
  xl:text-4xl
  2xl:text-5xl
  font-light
  text-neutral-500;
}

.application-process-content {
  @apply grid
  grid-cols-1
  md:grid-cols-2
  gap-4
  sm:gap-6
  md:gap-8
  lg:gap-10
  xl:gap-12
  2xl:gap-14
  max-w-screen-2xl
  mx-auto;
}

.application-process-item {
  @apply bg-neutral-50
  p-3
  sm:p-4
  md:p-5
  lg:p-6
  xl:p-7
  2xl:p-8
  rounded
  sm:rounded-md
  md:rounded-lg
  lg:rounded-xl
  xl:rounded-2xl
  2xl:rounded-3xl
  shadow-sm
  sm:shadow
  md:shadow-md
  lg:shadow-lg
  xl:shadow-xl
  2xl:shadow-2xl;
}

.application-process-item-title {
  @apply text-base
  sm:text-lg
  md:text-xl
  lg:text-2xl
  xl:text-3xl
  2xl:text-4xl
  mb-0
  sm:mb-1
  md:mb-2
  lg:mb-3
  xl:mb-4
  2xl:mb-5
  text-neutral-800
  font-medium;
}

.application-process-item-description {
  @apply text-sm
  sm:text-base
  md:text-lg
  lg:text-xl
  xl:text-2xl
  2xl:text-3xl
  font-normal
  text-neutral-600;
}
