.header-section {
  @apply section
  w-full
  fixed
  z-10;
}

.header-content {
  @apply section-content
  bg-neutral-950/90
  grid
  items-center
  grid-cols-[auto,1fr]
  rounded-full
  shadow-md
  backdrop-blur;
}

.header-left {
  @apply flex
  items-center;
}

.side-menu-btn {
  @apply text-neutral-50
  hover:text-blue-700
  text-3xl
  mr-3
  sm:mr-4
  cursor-pointer
  transition
  xl:hidden;
}

.company-logo {
  @apply text-neutral-50
  text-4xl
  font-bold;
}

.header-right {
  @apply justify-self-end
  xl:justify-self-auto
  xl:flex
  xl:items-center
  xl:justify-between
  xl:ml-10
  xl:border-l-2
  xl:pl-6;
}

.navbar-left {
  @apply hidden
  xl:block;
}

.navbar-ul {
  @apply flex
  items-center
  gap-4
  md:gap-5
  xl:gap-6;
}

.navbar-li {
  @apply text-neutral-50
  hover:text-blue-700
  text-lg
  cursor-pointer;
}

.company-phone-no {
  @apply hidden
  sm:block;
}

.msg-us-btn {
  @apply hidden
  md:block;
}
